<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final"
        tools:targetApi="31">

        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Splash Activity -->
        <activity android:name=".SplashActivity" />

        <!-- Authentication Activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <!-- Dashboard Activities -->
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />

        <!-- Course Activities -->
        <activity
            android:name=".StudentCourseSearchActivity"
            android:theme="@style/Theme.Final.NoActionBar" />

        <!-- Edit Test Questions Activity -->
        <activity android:name=".EditTestQuestionsActivity" />
        <activity android:name=".EditSingleTestQuestionActivity" />

        <activity
            android:name=".CourseRequestManagementActivity"
            android:label="Quản lý yêu cầu khóa học"
            android:parentActivityName=".TeacherDashboardActivity" />

        <!-- Student Learning Activities -->
        <activity android:name=".StudentMyCoursesActivity" />
        <activity android:name=".StudentCourseLessonsActivity" />
        <activity android:name=".StudentCourseDetailActivity" />
        <activity android:name=".StudentLessonLearningActivity" />
        <activity
            android:name=".FavoriteLessonsActivity"
            android:label="Bài học yêu thích"
            android:parentActivityName=".StudentDashboardActivity" />
        <activity
            android:name=".StudentInboxActivity"
            android:label="Hộp thư"
            android:parentActivityName=".StudentDashboardActivity" />
        <activity
            android:name=".TeacherFeedbackManagementActivity"
            android:label="Quản lý phản hồi"
            android:parentActivityName=".TeacherDashboardActivity" />
        <activity
            android:name=".CourseTestActivity"
            android:label="Bài kiểm tra khóa học"
            android:parentActivityName=".StudentCourseDetailActivity" />
        <activity
            android:name=".StudentFeedbackActivity"
            android:label="Đánh giá khóa học"
            android:parentActivityName=".StudentDashboardActivity" />


        <!-- Data Migration Tool -->
        <activity
            android:name=".DataMigrationActivity"
            android:label="Data Migration Tool" />


        <!-- Quiz Management Activities -->
        <activity
            android:name=".SelectCourseForQuizActivity"
            android:label="Chọn khóa học"
            android:parentActivityName=".TeacherDashboardActivity" />
        <activity
            android:name=".CreateQuizActivity"
            android:label="Tạo bài kiểm tra"
            android:parentActivityName=".SelectCourseForQuizActivity" />


        <!-- Other Activities -->
        <activity android:name=".CourseManagementActivity" />
        <activity android:name=".LessonManagementActivity" />
        <activity android:name=".EnrollmentManagementActivity" />
        <activity android:name=".CreateCourseActivity" />
        <activity android:name=".EditCourseActivity" />
        <activity android:name=".CourseListActivity" />
        <activity android:name=".CourseLessonsActivity" />
        <activity android:name=".CourseStudentsActivity" />
        <activity android:name=".CreateLessonActivity" />
        <activity android:name=".EditLessonActivity" />
        <activity android:name=".LessonDetailActivity" />
        <activity android:name=".PersonalScheduleActivity" />
        <activity android:name=".StudyProgressActivity" />
        <activity android:name=".StudentProgressDetailActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".AdminAccountManagementActivity" />
        <activity android:name=".ContentCreationActivity" />
        <activity android:name=".SystemStatisticsActivity" />
        <activity android:name=".StudentReportActivity" />
        <activity android:name=".StudentDetailReportActivity" />

        <!-- New Enrollment Management Activities -->
        <activity
            android:name=".EnrollmentStatusSelectionActivity"
            android:label="Quản lý đăng ký"
            android:parentActivityName=".TeacherDashboardActivity" />
        <activity
            android:name=".EnrollmentListActivity"
            android:label="Danh sách học viên"
            android:parentActivityName=".EnrollmentStatusSelectionActivity" />

    </application>

</manifest>
